@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

@layer components {
  .input-field {
    @apply w-full border border-gray-300 rounded-lg p-2.5 
    focus:ring-2 focus:ring-blue-400 focus:outline-none 
    text-sm transition duration-200 placeholder-gray-400;
  }
}
